# Design system

## Colors

Vivi primary pink:
```
'vivi-pink': {
    '50': '#fcf3f8',
    '100': '#fbe8f2',
    '200': '#f8d2e6',
    '300': '#f4add1',
    '400': '#ee8cbb',
    '500': '#e15393',
    '600': '#cf3371',
    '700': '#b32359',
    '800': '#94204a',
    '900': '#7c1f40',
    '950': '#4b0c22',
},
```
Vivi secondary purple:
```
'vivi-purple': {
    '50': '#fbf6fe',
    '100': '#f5ebfc',
    '200': '#eddafa',
    '300': '#dfbdf5',
    '400': '#cb93ed',
    '500': '#c07de6',
    '600': '#a34ad3',
    '700': '#8c38b8',
    '800': '#763297',
    '900': '#602a79',
    '950': '#431358',
},

```

```

## Typography

## Layout

Responsive design. Use this image as placeholder for now: https://imagedelivery.net/593kiqr92vXOIm5c4wZK9A/a4c1bec8-4a9f-4c1c-858c-b44674155e00/public

## Components
- Avoid hardcoding styles. Put them into global styles if possible or the Tailwind config.
- Avoid using the same chunks of markup many times, try to reuse using components.

## Utilities

## Animations

## Accessibility