@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'MocoSugar';
	src: url('/fonts/MocoSugar-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@layer utilities {
	.shadow-top-bottom {
		box-shadow: 0 -8px 12px -3px rgba(0, 0, 0, 0.05), 0 -2px 4px -1px rgba(0, 0, 0, 0.02),
			0 8px 12px -3px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
	}

	.shadow-primary {
		box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
	}

	.shadow-secondary {
		box-shadow: 0 -16px 20px -4px rgba(0, 0, 0, 0.12), 0 -6px 8px -2px rgba(0, 0, 0, 0.06),
			0 16px 20px -4px rgba(0, 0, 0, 0.12), 0 6px 8px -2px rgba(0, 0, 0, 0.06);
	}

	.bg-pattern-primary {
		background-color: #f8d2e6;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ee8cbb' fill-opacity='0.2'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
	}

	.bg-pattern-secondary {
		background-color: #fbe8f2;
	}

	.drop-shadow-secondary {
		filter: drop-shadow(0 -12px 12px rgba(0, 0, 0, 0.1)) drop-shadow(0 12px 12px rgba(0, 0, 0, 0.1));
	}
}

