---
---

<section class="py-12 px-4 sm:px-6 lg:px-8">
	<div class="max-w-4xl mx-auto">
		<div class="relative aspect-[4/3] rounded-lg overflow-hidden bg-vivi-pink-50 border-2 border-vivi-pink-200">
			<img
				src="https://imagedelivery.net/593kiqr92vXOIm5c4wZK9A/a4c1bec8-4a9f-4c1c-858c-b44674155e00/public"
				alt="Vivi Happi Design"
				class="w-full h-full object-cover"
			/>
		</div>
		<p class="text-center text-gray-600 mt-4 text-sm">Promo Image of Design</p>
	</div>
</section>

