---
const currentLocale = Astro.currentLocale ?? 'en';
const isJapanese = currentLocale === 'ja';
---

<div class="h-6 md:h-7 lg:h-8 w-full bg-vivi-purple-900 text-center text-white uppercase flex items-center justify-center font-medium leading-none text-[13px] md:text-[14.5px] lg:text-[16px] tracking-wider">
	<a
		href="https://oshimoshi.shop/"
		target="_blank"
		rel="noopener noreferrer"
		class="hover:underline"
	>
		{isJapanese ? '受注予約は終了しました。たくさんのご注文ありがとうございました！' : 'Preorders are now closed. Thank you for your support!'}
	</a>
</div>
