---
import { Image } from 'astro:assets';
import xLogoWhite from '../images/x-logo-white.png';

const isJapanese = Astro.currentLocale === 'ja';
---

<div class="max-w-3xl mx-auto text-center">
	<h2 class="text-4xl font-bold font-yuruka mb-8 text-vivi-purple-600">{isJapanese ? '最新情報をチェック！' : 'Stay up to date!'}</h2>
	<div class="flex flex-col sm:flex-row gap-4 justify-center items-center">
		<a
			href="https://x.com/OshiMoshi_Shop"
			target="_blank"
			rel="noopener noreferrer"
			class="px-8 py-3 bg-vivi-purple-900 text-white rounded-full font-semibold hover:bg-vivi-purple-950 transition-colors flex items-center gap-2"
		>
			<span>{isJapanese ? 'フォローする' : 'Follow on'}</span>
			<Image src={xLogoWhite} alt={isJapanese ? 'X（旧Twitter）ロゴ' : 'X Logo'} width={16} height={16} class="inline-block align-middle" />
		</a>
		<!-- <a
			href="#signup"
			class="px-8 py-3 bg-vivi-purple-900 text-white rounded-full font-semibold hover:bg-vivi-purple-950 transition-colors"
		>
			Sign up for updates
		</a> -->
	</div>
</div>

