---
import TimelineItem from './TimelineItem.astro';
---

<section class="py-16 px-4 sm:px-6 lg:px-8">
	<div class="max-w-4xl mx-auto">
		<h2 class="text-4xl font-bold text-center mb-12 text-gray-900">Timeline</h2>
		<div class="relative">
			<div class="absolute left-1/2 transform -translate-x-1/2 h-full w-0.5 bg-vivi-pink-300 hidden md:block"></div>
			<div class="space-y-12">
				<TimelineItem title="Preorders Open" date="January 2025" side="left" color="pink" />
				<TimelineItem title="Production" date="February - March 2025" side="right" color="purple" />
				<TimelineItem title="Shipping" date="Before Holofes 7th" subtitle="March 2025" side="left" color="pink" />
			</div>
		</div>
	</div>
</section>

